<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ariestwn.calendar.nlp</string>
	<key>connections</key>
	<dict>
		<key>615E51DB-AC60-408B-8153-E071D4718E0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB72E0A9-26B4-4764-87E1-8381FF60401F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5B3C8D9-E0F1-4G2H-I3J4-K5L6M7N8O9P0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7D4E8F9-C0A1-4B2C-D3E4-F5G6H7I8J9K0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7D4E8F9-C0A1-4B2C-D3E4-F5G6H7I8J9K0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6CF4661-D648-4B0D-B84B-6A0076896C57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F36E2EDF-5F36-4E04-A4BC-FF488023114C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>615E51DB-AC60-408B-8153-E071D4718E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ariestwn</string>
	<key>description</key>
	<string>NLP Calendar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NLP Calendar</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Calendar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F6CF4661-D648-4B0D-B84B-6A0076896C57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>clprofile</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading calendars...</string>
				<key>script</key>
				<string>./calendar_profile.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select default calendar</string>
				<key>title</key>
				<string>Set Default Calendar</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A5B3C8D9-E0F1-4G2H-I3J4-K5L6M7N8O9P0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./calendar_profile.py --set:"$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B7D4E8F9-C0A1-4B2C-D3E4-F5G6H7I8J9K0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Calendar Event</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FB72E0A9-26B4-4764-87E1-8381FF60401F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>calendar_nlp.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>615E51DB-AC60-408B-8153-E071D4718E0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cl</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Processing input...</string>
				<key>script</key>
				<string>python3 preview.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Use natural language to add event</string>
				<key>title</key>
				<string>Add Calendar Event</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F36E2EDF-5F36-4E04-A4BC-FF488023114C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>NLP Calendar

Commands:
- cl: Add calendar event
- clprofile: Set default calendar

Examples:
- cl meeting tomorrow at 2pm
- cl lunch at Starbucks tomorrow 1pm
- cl meeting tomorrow 2pm notes: Discuss project
- cl zoom call tomorrow 3pm url: https://zoom.us/j/123
- cl meeting tomorrow 2pm with 30min alert</string>
	<key>uidata</key>
	<dict>
		<key>615E51DB-AC60-408B-8153-E071D4718E0F</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>A5B3C8D9-E0F1-4G2H-I3J4-K5L6M7N8O9P0</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>B7D4E8F9-C0A1-4B2C-D3E4-F5G6H7I8J9K0</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>F36E2EDF-5F36-4E04-A4BC-FF488023114C</key>
		<dict>
			<key>xpos</key>
			<real>20</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>F6CF4661-D648-4B0D-B84B-6A0076896C57</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>FB72E0A9-26B4-4764-87E1-8381FF60401F</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ariestwn/calendar</string>
</dict>
</plist>
